# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np 
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [76]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [77]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [78]:
new_cols = [i.lower().replace(' ','_') for i in pokemon.columns]
new_cols

['#',
 'name',
 'type_1',
 'type_2',
 'total',
 'hp',
 'attack',
 'defense',
 'sp._atk',
 'sp._def',
 'speed',
 'generation',
 'legendary']

In [79]:
pokemon.columns = new_cols

In [88]:
pokemon.drop(['#'],axis = 1, inplace=True)

In [89]:
pokemon.head(1)

,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [90]:
# Your code here:
pokemon.sample(3)

,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
556,Serperior,Grass,NaN,528,75,75,95,75,95,113,5,False
751,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False
238,Swinub,Ice,Ground,250,50,50,40,30,30,50,2,False

In [91]:
pokemon['legendary'].value_counts()

False    735
True      65
Name: legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [92]:
# Your code here:

legendary = pokemon.loc[pokemon['legendary']== True]
just_pokemon = pokemon.loc[pokemon['legendary']== False]

In [107]:
mean_JP = just_pokemon.total.mean()
std_JP = just_pokemon.total.std()
mean_JP,std_JP

(417.21360544217686, 106.76041745713022)

In [108]:
mean_legends = legendary.total.mean()
std_legends = legendary.total.std()
mean_legends,std_legends

(637.3846153846154, 60.93738905315346)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [285]:
from scipy.stats import ttest_ind, ttest_rel
from scipy.stats import ttest_1samp

**Personal Comment:** Since both groups have different size, std and mean, we will perform the Welch's t-test  (equal_var=False), which does not assume equal population variance. Is more reliable when the two samples have unequal variances and/or unequal sample sizes

In [125]:
# Your code here:
ttest_ind(legendary.total, just_pokemon.total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

In [126]:
ttest_ind(legendary.total, just_pokemon.total)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [132]:
# Your conclusions here:
f'As we can observe the P_value is way over the verge, actually {100-ttest_ind(legendary.total, just_pokemon.total, equal_var=False)[1]*100}%'

'As we can observe the P_value is way over the verge, actually 100.0%'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [133]:
pokemon.head(2)

,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [138]:
# Your code here:
pokemon.type_1.value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: type_1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [200]:
# Your code here:
water = pokemon.loc[pokemon.type_1 == 'Water',['total','hp','attack','defense','sp._atk','sp._def','speed']]
nonwater= pokemon.loc[pokemon.type_1 != 'Water',['total','hp','attack','defense','sp._atk','sp._def','speed']]

In [223]:
water_describe = water.describe()
water_stats = water_describe.agg({'mean','std'})
water_stats

,total,hp,attack,defense,sp._atk,sp._def,speed
std,223.988345,48.455522,46.212088,50.987868,52.563670,45.872855,38.186087
mean,363.955453,76.756191,74.566122,78.215030,77.667828,74.403544,66.872955

In [217]:
nonwater_describe = nonwater.describe().T
nonwater_stats = nonwater_describe.agg({'mean','std'})
nonwater_stats

,total,hp,attack,defense,sp._atk,sp._def,speed
std,228.097227,228.919333,222.836447,225.657658,224.207043,224.712303,224.929508
mean,437.493837,154.124578,153.351981,154.838538,150.348522,155.983400,146.447497

In [219]:
#Comparission
nonwater_stats - water_stats

,total,hp,attack,defense,sp._atk,sp._def,speed
std,4.108883,180.463812,176.624359,174.669790,171.643373,178.839448,186.743421
mean,73.538384,77.368387,78.785859,76.623508,72.680694,81.579856,79.574542

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [259]:
# Your code here:
water_m = pokemon.loc[pokemon.type_1 == 'Water',['total']]
nonwater_m= pokemon.loc[pokemon.type_1 != 'Water',['total']]
ttest_Pk = ttest_ind(water_m.total,nonwater_m.total)
ttest_Pk

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [268]:
# Your conclusions here:
f'The pvalue is diffent from the verge in a {round(100-ttest_Pk[1]*100,2)}% therefore we reject the H0'

'The pvalue is diffent from the verge in a 34.13% therefore we reject the H0'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [271]:
pokemon.head(2)

,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [280]:
# Your code here:
# H0 = attack and deffense scores are equal
# H1 != attack and deffense scores are not equal


ttest_DA = ttest_rel(pokemon['attack'],pokemon['defense'])
ttest_DA

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [281]:
f'We reject the Null hypothesis, since the pvalue is significantlly higher than the 0.005 verge by {round(100-ttest_DA[1]*100,2)}%'

'We reject the Null hypothesis, since the pvalue is significantlly higher than the 0.005 verge by 100.0%'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [282]:
# Your code here:
# H0 = Special attack and deffense scores are equal
# H1 != Special attack and deffense scores are not equal

ttest_AD = ttest_rel(pokemon['sp._atk'],pokemon['sp._def'])
ttest_AD

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [283]:
# Your conclusions here:
f'We reject the Null hypothesis, since the pvalue is significantlly higher than the 0.005 verge by {round(100-ttest_AD[1]*100,2)}%'

'We reject the Null hypothesis, since the pvalue is significantlly higher than the 0.005 verge by 60.66%'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [295]:
# Your code here:
t_samp = ttest_1samp(pokemon['attack']-pokemon['defense'],0)
t_samp
f'The H0 is confirmed since the resutl is the same {round(100-t_samp[1]*100,)}%'

'The H0 is confirmed since the resutl is the same 100%'

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: