# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [10]:
# Your code here:

legendarys=pokemon[pokemon['Legendary']==True]
nonlegendarys=pokemon[pokemon['Legendary']==False]
legendarys.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [15]:
legendarys.mean()

<ipython-input-15-e2d3235cb1bf>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  legendarys.mean()

#             470.215385
Total         637.384615
HP             92.738462
Attack        116.676923
Defense        99.661538
Sp. Atk       122.184615
Sp. Def       105.938462
Speed         100.184615
Generation      3.769231
Legendary       1.000000
dtype: float64

In [16]:
pokemon.mean()

<ipython-input-16-443136872d98>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon.mean()

#             362.81375
Total         435.10250
HP             69.25875
Attack         79.00125
Defense        73.84250
Sp. Atk        72.82000
Sp. Def        71.90250
Speed          68.27750
Generation      3.32375
Legendary       0.08125
dtype: float64

In [17]:
legendarys.std()

<ipython-input-17-d2389410628a>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  legendarys.std()

#             173.651095
Total          60.937389
HP             21.722164
Attack         30.348037
Defense        28.255131
Sp. Atk        31.104608
Sp. Def        28.827004
Speed          22.952323
Generation      1.455262
Legendary       0.000000
dtype: float64

In [18]:
pokemon.std()

<ipython-input-18-b084c687ff93>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon.std()

#             208.343798
Total         119.963040
HP             25.534669
Attack         32.457366
Defense        31.183501
Sp. Atk        32.722294
Sp. Def        27.828916
Speed          29.060474
Generation      1.661290
Legendary       0.273390
dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [23]:
# Your code here:
from scipy.stats import ttest_ind, ttest_rel
ttest_ind(legendarys.Total, nonlegendarys.Total)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

###the 16,4 tells us that legendarys haver greater skills and the pvalue confirms us that they are independent

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [24]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [31]:
# Your code here:

water=pokemon[pokemon['Type 1']=='Water'].describe()
water

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000
mean,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
std,188.440807,113.188266,27.487026,28.377192,27.773809,29.030128,28.460493,23.019353,1.558800
min,7.000000,200.000000,20.000000,10.000000,20.000000,10.000000,20.000000,15.000000,1.000000
25%,130.000000,328.750000,52.250000,53.000000,54.500000,55.000000,50.000000,50.000000,1.000000
50%,275.000000,455.000000,70.000000,72.000000,70.000000,70.000000,65.000000,65.000000,3.000000
75%,456.250000,502.250000,90.250000,92.000000,88.500000,90.500000,89.250000,82.000000,4.000000
max,693.000000,770.000000,170.000000,155.000000,180.000000,180.000000,160.000000,122.000000,6.000000

In [30]:
nowater=pokemon[pokemon['Type 1']!='Water'].describe()
nowater

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000
mean,372.536337,435.859012,68.802326,79.790698,73.988372,72.495640,72.127907,68.654070,3.399709
std,209.928799,121.091682,25.194299,33.025152,31.719933,33.292537,27.739292,29.925907,1.666119
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,197.750000,330.000000,50.000000,55.000000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,380.000000,450.000000,65.000000,76.000000,70.000000,65.000000,70.000000,65.000000,3.000000
75%,553.250000,515.000000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.000000
max,721.000000,780.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.000000

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [32]:
water-nowater

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,-576.000000,-576.000000,-576.000000,-576.000000,-576.000000,-576.000000,-576.000000,-576.000000,-576.000000
mean,-69.447051,-5.403654,3.260174,-5.638912,-1.041944,2.316860,-1.610050,-2.689784,-0.542566
std,-21.487991,-7.903416,2.292727,-4.647959,-3.946124,-4.262409,0.721201,-6.906554,-0.107319
min,6.000000,20.000000,19.000000,5.000000,15.000000,0.000000,0.000000,10.000000,0.000000
25%,-67.750000,-1.250000,2.250000,-2.000000,4.500000,10.000000,0.000000,5.000000,-1.000000
50%,-105.000000,5.000000,5.000000,-4.000000,0.000000,5.000000,-5.000000,0.000000,0.000000
75%,-97.000000,-12.750000,10.250000,-8.000000,-1.500000,-4.500000,-0.750000,-8.000000,-1.000000
max,-28.000000,-10.000000,-85.000000,-35.000000,-50.000000,-14.000000,-70.000000,-58.000000,0.000000

In [33]:
# Your code here:
ttest_ind(water.Total, nowater.Total)

Ttest_indResult(statistic=-0.650632103920865, pvalue=0.5258186990227194)

Write your conclusion below.

In [10]:

# water pokemon have more HP and Sp.Atk than the other pokemon but the other attributes are weaker. But they are npt so weaker 
#as we could imagine after analyzing the ttest

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [39]:
# Your code here:
pokemon2=pokemon[['Name', 'Attack', 'Defense']]
pokemon2

                      Name  Attack  Defense
0                Bulbasaur      49       49
1                  Ivysaur      62       63
2                 Venusaur      82       83
3    VenusaurMega Venusaur     100      123
4               Charmander      52       43
..                     ...     ...      ...
795                Diancie     100      150
796    DiancieMega Diancie     160      110
797    HoopaHoopa Confined     110       60
798     HoopaHoopa Unbound     160       60
799              Volcanion     110      120

[800 rows x 3 columns]

In [40]:
from scipy.stats import ttest_ind, ttest_rel
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

#Podemos concluir que los pokemon tienen mas ataque que defensa pero que tienen una gran independencia

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [47]:
# Your code here:

poke=pokemon[['Sp. Atk', 'Sp. Def']].describe()
poke

          Sp. Atk     Sp. Def
count  800.000000  800.000000
mean    72.820000   71.902500
std     32.722294   27.828916
min     10.000000   20.000000
25%     49.750000   50.000000
50%     65.000000   70.000000
75%     95.000000   90.000000
max    194.000000  230.000000

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#Podemos concluir que las medias son muy parecidas

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [52]:
from scipy.stats import ttest_1samp  
ttest_1samp(pokemon.Attack-pokemon.Defense, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
#Podemos analizar que son independientes, que se rechaza la hipotesis de que la media entre las dos tiende a cero y que el 
#ataque es mayor que la defensa

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [55]:
# Your code here:

p=pd.crosstab(pokemon.Legendary, pokemon['Type 1']=="Water")
p

Type 1     False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [57]:
# Your code here:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
chi2_contingency(p)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

In [59]:
chi_2, pval, dof, ex = chi2_contingency(p)
pval

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
"""con este modelo conseguimos 92,4% de confianza, debemos reject la hipotesis"""