# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import t

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [54]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
pokemon.columns = pokemon.columns.str.replace(' ','_').str.lower().str.replace('.','')

<ipython-input-54-2f23e3ee86ab>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pokemon.columns = pokemon.columns.str.replace(' ','_').str.lower().str.replace('.','')

Let's start off by looking at the `head` function in the cell below.

In [55]:
# Your code here:

pokemon.sample(3)

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
467,420,Cherubi,Grass,NaN,275,45,35,45,62,53,35,4,False
334,307,Meditite,Fighting,Psychic,280,30,40,55,40,55,60,3,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [56]:
# Your code here:
pokemon.legendary.value_counts()

False    735
True      65
Name: legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [57]:
# Your code here:
count, mean, std, min, _25, _50, _70, max = pokemon[pokemon.legendary == True].total.describe()
print(f"For legendaries: mean: {mean:.2f} and std: {std:.2f}")
count, mean, std, min, _25, _50, _70, max = pokemon[pokemon.legendary == False].total.describe()
print(f"For none legendaries: mean: {mean:.2f} and std: {std:.2f}")

For legendaries: mean: 637.38 and std: 60.94
For none legendaries: mean: 417.21 and std: 106.76

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [58]:
# Your code here:
# To make it easier for the coming sections, I am going to split the dataframe
legendaries = pokemon[pokemon.legendary == True]
communs = pokemon[pokemon.legendary == False]
from scipy.stats import ttest_ind
stats, pval = ttest_ind(legendaries.total, communs.total, equal_var=False)

stats, pval

(25.8335743895517, 9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [59]:
# Your conclusions here:

print(f"They are different with a certany of a {100-100*pval:.1f} %")

They are different with a certany of a 100.0 %

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [60]:
# Your code here:
pokemon.type_1.value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: type_1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [61]:
# Your code here:
pok_water = pokemon[pokemon.type_1 == 'Water']
pok_no_water = pokemon[pokemon.type_1 != 'Water']

pok_no_water.describe()-pok_water.describe()

,#,total,hp,attack,defense,sp_atk,sp_def,speed,generation
count,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000
mean,69.447051,5.403654,-3.260174,5.638912,1.041944,-2.316860,1.610050,2.689784,0.542566
std,21.487991,7.903416,-2.292727,4.647959,3.946124,4.262409,-0.721201,6.906554,0.107319
min,-6.000000,-20.000000,-19.000000,-5.000000,-15.000000,0.000000,0.000000,-10.000000,0.000000
25%,67.750000,1.250000,-2.250000,2.000000,-4.500000,-10.000000,0.000000,-5.000000,1.000000
50%,105.000000,-5.000000,-5.000000,4.000000,0.000000,-5.000000,5.000000,0.000000,0.000000
75%,97.000000,12.750000,-10.250000,8.000000,1.500000,4.500000,0.750000,8.000000,1.000000
max,28.000000,10.000000,85.000000,35.000000,50.000000,14.000000,70.000000,58.000000,0.000000

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [74]:
# Your code here:
stats, pval = ttest_ind(pok_water.total, pok_no_water.total, equal_var=False)
stats, pval

(-0.4638681676327303, 0.6433915385821449)

Write your conclusion below.

In [75]:
# Your conclusions here:
print(f"They are different with a certany of a {100-100*pval:.1f} %, so the hypotesis that they are different can not be confirmed. ")

They are different with a certany of a 35.7 %, so the hypotesis that they are different can not be confirmed.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [64]:
# Your code here:
from scipy.stats import ttest_rel
stats, pval = ttest_rel(pokemon.attack, pokemon.defense)
stats, pval

(4.325566393330478, 1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [65]:
# Your conclusions here:

print(f"We can affirm with an accuracy of a {100-100*pval:.3f}% that they differ.")

We can affirm with an accuracy of a 99.998% that they differ.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [66]:
stats, pval = ttest_rel(pokemon.sp_atk, pokemon.sp_def)
stats, pval

(0.853986188453353, 0.3933685997548122)

Describe the results of the test in the cell below.

In [68]:
# Your conclusions here:

print(f"We can affirm with an accuracy of a {100-100*pval:.3f}% that they differ, which is not very accured.")

We can affirm with an accuracy of a 60.663% that they differ, which is not very accured.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [71]:
# Your code here:
from scipy.stats import ttest_1samp
stats, pval = ttest_1samp(pokemon.attack-pokemon.defense, 0)
print(f"In deed, we find the same results, with the exact same accuracy, {100-100*pval:.3f}%")

In deed, we find the same results, with the exact same accuracy, 99.998%

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [79]:
# Your code here:
a = pd.crosstab(pokemon.type_1,pokemon.legendary)

a

legendary  False  True
type_1
Bug           69     0
Dark          29     2
Dragon        20    12
Electric      40     4
Fairy         16     1
Fighting      27     0
Fire          47     5
Flying         2     2
Ghost         30     2
Grass         67     3
Ground        28     4
Ice           22     2
Normal        96     2
Poison        28     0
Psychic       43    14
Rock          40     4
Steel         23     4
Water        108     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [82]:
# Your code here:
from scipy.stats import chi2_contingency
stats,pval,ot1,ot2 =chi2_contingency(a)

Based on a 95% confidence, should we reject the null hypothesis?

In [89]:
# Your answer here:
print(f"We can confirm that the pokemon type is related to the pokemon being or not legendary with a p-value of {pval:.2e}")

We can confirm that the pokemon type is related to the pokemon being or not legendary with a p-value of 5.12e-12